
     
<div class="header-novo" >
    <div class="logo-header" >
    
    </div>
    
    <div class='btn-group botoes_menu'>
         <!-- Menu -->
            <button type="button" class="btn btn-midiaclip dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-cog"></span>
                                    Menu  <span class="caret"></span> </button>
                                  <ul class="dropdown-menu" role="menu">
                                      
                                        
                                                 <li>
                                                     @Html.ActionLink("Contato","Lista","Contato")

                                                 </li> 
                                           
                                      
                                      
                                  </ul>
       
    </div>
</div>

  <div class='breadcrumb'>  
</div>
